.create {
  max-height: calc(100vh - 60px - 48px);
  overflow-y: auto;
  background-color: rgba(255,255,255, 0.4);

  h1 {
    padding: 20px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.5);
  }

  .lab_name {
    min-width: 90px;
  }
}