#dashboard {
  max-height: calc(100vh - 60px - 48px);
  overflow-y: hidden;

  .btn-success {
    color: #000 !important;
    font-weight: 600;

    &:hover {
      color: rgba(255,255,255, 0.8) !important;
    }
  }

  .my-custom-scrollbar {
    position: relative;
    max-height: calc(100vh - 60px - 48px - 62px);
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }

  table {
    
    
    overflow-y: auto;

    border-color: black !important;
    background-color: rgba(255,255,255, 0.5);

    .description {
      max-width: 290px !important;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @media screen and (max-width: 1200px) {
        max-width: 230px !important;
      }

      @media screen and (max-width: 992px) {
        max-width: 180px !important;
      }
    }

    thead {
      background-color: rgba(0,0,0, 0.5);
      color: #fff;

      th {
        border-top: 0 !important;
      }
    }

    tbody {
      tr {
        border-color: grey !important;

        &:hover {
          background-color: rgba(0,0,0, 0.3) !important;
          color: #DCDCDC !important;
        }

        td {
          border-color: grey !important;
        }
      }
    }
  }
}