.overlay {
  &.over_work_show {
    background-image: url('../../img/whitefin-scaled-e1582481325200.jpg');
  }
}

.step_container {
  margin-top: 30px;

  .step {
  
    div {
      width: calc(100% / 3);
    }
  }
}
