.overlay {
  &.over_work_show {
    background-image: url('../../img/whitefin-scaled-e1582481325200.jpg');
  }
}

#work-show {
  h1 {
    color: hsl(220,95%,8%);
    font-weight: bold;
    
    span {
      text-transform: capitalize;
    }
  }
}

.step_container {
  margin-top: 30px;

  .step {
  
    div {
      width: calc((100% / 3) - 30px);
      margin: 5px;
    }

    p {
      word-break: break-all;
    }
  }

}

.show_work {

  .fas {
    font-size: 20px;
  }
}

.step_name, .step_description, .step_image {
  color: $blueDigit;
}

.step_index {
  color: rgba(1, 14, 40, 0.9);
}