.overlay {
  &.over_status {
    background-image: url('../../img/AA0I4504-scaled-e1582480719253.jpg');
  }
}

.status {
  margin-top: 80px;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.2024160005799195) 90%);
  padding-top: 3rem;
  border-radius: 5px;

}

